@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dreaddit</h1>
    <p class="lead">if you Liked Reddit, this isn't the site for you</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            STuff Here
        </p>
        <p>
            <form action="action_page.php">
                First name:<br>
                <input type="text" name="firstname" value="">
                <br>
                Last name:<br>
                <input type="text" name="lastname" value="">
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </p>
        <p class="btn btn-default">Post</p>
    </div>
   
    
</div>